.nav {
  display: flex;
  align-items: center;
  padding: 45px;  
  width: 1500px;
  border-bottom: 1px solid black;
  
}
.izquierda {
  display: flex;
}
.derecha {
  bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 20px;
 
}
.links {
  margin-right: 20px;
  text-decoration: none;
  color:  #5d4037;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 38px;
 
}

.login {
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 50px;
}
