.nav {
  display: flex;
  align-items: center;
  padding: 45px;  
  width: 1500px;
  border-bottom: 1px solid black;
  
}
.izquierda {
  display: flex;
}
.derecha {
  bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 20px;
 
}
.links {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 38px;
  .y{
    color: yellow;
     filter: brightness(80%);
  }
  .b{
    color: blue;
  }
  .r{
    color: red;
  }
}

.login {
  text-decoration: none;
  font-size: 22px;
  color: #3a2a78;
}
