.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
.tittle h1 {
  padding: 20px;
  font-family: "cursive",Lucida Handwriting, sans-serif;
  font-weight: 900;
  color: #5d4037;
 
}
.izquierda {
  display: flex;
  padding: 40px;
  gap: 50px;
  
  
}
.derecha {
  bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 20px;

}
.links {
  margin-right: 20px;
  text-decoration: none;
  color: #5d4037;
  font-family: Georgia;
  font-weight: 900;
  font-size: 22px;
}

.login {
  border: 2px solid #5d4037;
  text-decoration: none;
  font-size: 15px;
  color: #5d4037;
  background-color: #fbe9e7;
  padding: 10px;
  border-radius: 50px;
  
}
