<app-nav></app-nav>

<div class="contain first">
  <img src="assets/images/Quindio.jpg" class="deptos" />
  <div class="text">
    <h1>Quindio</h1>
    <p>
      'La tradición del café en el Quindío está profundamente arraigada en la
      historia del Eje Cafetero, que se remonta a finales del siglo XVIII y se
      ha convertido en Patrimonio de la Humanidad por la UNESCO, destacando la
      siembra manual de granos, las cosechas dos veces al año y celebraciones
      como la Fiesta Nacional del Café.'
    </p>
   
  </div>
</div>
<div class="contain second">
  <div class="text">
    <h1>Risaralda</h1>
    <p>
      'El café de Risaralda, cultivado en las fértiles tierras del Eje Cafetero
      de Colombia, es reconocido por su sabor suave y equilibrado, con notas
      afrutadas y florales, resultado de la combinación de altitud, clima y
      métodos tradicionales de cultivo y procesamiento que reflejan la rica
      herencia cafetera de la región.'
    </p>
  </div>

  <img src="assets/images/Risaralda.jpg" class="deptos" />
</div>
<div class="contain three">
  <img src="assets/images/Caldas.jpg" class="deptos" />
  <div class="text">
    <h1>Caldas</h1>
    <p>
      'café de calidad arábica de la región de Caldas, Colombia, caracterizado
      por su aroma frutal y herbal, acidez media y cuerpo medio, y con notas de
      sabor a caramelo, ciruela o chocolate'
    </p>
  </div>
</div>
<div class="contain four">
  <div class="text">
    <h1>Antioquia</h1>
    <p>
      'abarca una rica historia de más de 180 años, donde la cultura cafetera se
      manifiesta a través de la diversidad geográfica y las prácticas de cultivo
      ancestrales. Esta tradición se vive en el trabajo familiar y el relevo
      generacional en las fincas, que producen un café suave y balanceado con
      notas dulces, y se promueve mediante la creación de experiencias
      turísticas como las rutas del café, que permiten a los visitantes conocer
      el proceso de recolección, secado y cata del grano'
    </p>
  </div>

  <img src="assets/images/Antioquia.jpg" class="deptos" />
</div>

<app-footer></app-footer>
