<div class="footer">
  <div class="ul">
    <ul class="first">
      <li>"Everything you can imagine is real. Drink some coffee."</li>
      <p>Algun amante al cafe</p>
    </ul>
    <ul class="second">
      <p>
        © 2025 The COFFE, Created for coffee lovers and those who enjoy this
        vice. We recommend reading all about this delicious beverage, which is
        rich in pleasant aromas and flavors. Make proper use of it and see where
        you can enjoy it.
      </p>
    </ul>
  </div>
</div>
