<div class="footer">
  <div class="ul">
    <div class="first">
      <h1>"Everything you can imagine is real. Drink some coffee."</h1>
      <p>Algun amante al cafe</p>
    </div>
    <div class="second">
      <p>
        © 2025 The COFFE, Created for coffee lovers and those who enjoy this
        vice. We recommend <br> reading all about this delicious beverage, which is
        rich in pleasant aromas and flavors. Make proper <br> use of it and see where
        you can enjoy it.
      </p>
    </div>
  </div>
</div>
