<app-nav></app-nav>

<div class="content">
 
    
 
  <div class="caja1">
    <div class="video-box">
  <video autoplay loop controls muted>
    <source src="assets/videos/Colombia.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de video.
  </video>
</div>
    <div class="text-box">
      <h1>Bienvenidos a Cafes del Eje</h1>
      <p>
        En nuestra página web, te invitamos a explorar el fascinante mundo del
        café, desde su cultivo hasta su preparación y degustación. Descubre
        información sobre las diferentes variedades de café, métodos de
        preparación, consejos para baristas y mucho más. Ya seas un amante del
        café o simplemente curioso, aquí encontrarás todo lo que necesitas saber
        para disfrutar al máximo de esta deliciosa bebida.
      </p>
    <form action="click">
      <button type="button" (click)="irAPaginaExterna()" class="btnPags">
        Cultura Cafe
      </button>
    </form>
  </div>
</div>
</div>
<div class="content2"></div>
<app-footer></app-footer>
